<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label>PEDIDO: {{ this.idPed }}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>COMENTARIOS DEL PEDIDO: </ion-label>
        <br/>
        <br/>
        <ion-label>{{ this.mensajePedido }}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="finalizar(this.idPed)" color="primary">Finalizar Pedido</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="ion-padding">
    <div *ngFor="let infPed of infoPedProv">
      <h4 style="text-align: center;">{{infPed.categoria}}</h4>
      <div *ngFor="let item of infPed.items">
        <ion-item-sliding *ngIf="item.estado =='sin alistar'">
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="peso(this.idPed,item.id)">Agregar Peso</ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h2 style="color: red;">
                {{ item.nombre_es }}
              </h2>
              <p style="color: red;">
                {{ item.nombre}} /
                {{ item.talla }} /
                {{ item.cantidad }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="alistado(this.idPed,item.id,0)">Alistado</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
    <h4 style="text-align: center;">Items Alistados</h4>
    <div *ngFor="let infPed of infoPedProv">
    <div *ngFor="let item of infPed.items">
      <ion-item-sliding *ngIf="item.estado !='sin alistar'">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2 style="color: blue;">
              {{ item.nombre_es }}
            </h2>
            <p style="color: blue;">
              {{ item.nombre}} /
              {{ item.talla }} /
              {{ item.cantidad }}
            </p>
            <p *ngIf="infPed.peso > 0" style="color: blue;">
              Peso = {{ item.peso}} gr
            </p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </div>
  </div>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="liberar(this.idPed)" color="danger">Liberar Pedido</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>