<ion-item-sliding>
  <div>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2 style="color: blue;">
          {{ producto.nombre_es }}
        </h2>
      </ion-label>
    </ion-item>
  </div>

  <ion-item-options side="end">
    <ion-item-option (click)="recibir()">Recibir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
