@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
ion-content{
    ion-grid{    
        text-align: center;
        background-color: white;
        background-image: url('/assets/imagenes/back_design.png');
        background-size: cover; 
        padding-top: 70vw;
        .btnAtras{
            position: absolute;
            top: 5px;
            background: white;
            height: 40px;
            width: 40px;
            font-size: 7vw;
            line-height: 47px;
            border-radius: 50%;
            box-shadow: 0 0 5px 1px var(--ion-color-dark);
        }
        .txtLogin{
            color:rgb(93, 75, 255);
            font-weight: bolder;
            font-family: 'Montserrat', sans-serif;
        }
        @media only screen and (max-height: 750px) {  
            ion-grid {background-position-y: -80px;padding-top: 45vw;} 
        }
        @media only screen and (max-height: 812px) {}
    }
}