<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="dismiss()" style="zoom:2.0;" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>recibir Producto ( {{producto.nombre_es}} )</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Presentacion</ion-label>
    <ion-select placeholder="Selecciona uno" [(ngModel)]="presentacion" interface="popover">
      <ion-select-option *ngFor="let presentacion of presentaciones" value="{{presentacion.id_presentacion}}">{{presentacion.nombre_es}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Maduraciones</ion-label>
    <ion-select placeholder="Selecciona uno" [(ngModel)]="maduracion" interface="popover">
      <ion-select-option *ngFor="let maduracion of maduraciones" value="{{maduracion.id}}">{{maduracion.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cantidad (unidades)</ion-label>
    <ion-input [(ngModel)]="cantidad" [disabled]="peso != ''" placeholder="Ingrese la cantidad"></ion-input>
  </ion-item>
  <ion-button (click)="apiRecibir()" [disabled]="maduracion == '' || presentacion == '' || (peso == '' && cantidad == '')" style="margin: 5%;" expand="block">Guardar</ion-button>
</ion-content>