<ion-header>
  <ion-toolbar>
    <ion-title>Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Proveedores</ion-label>
    <ion-select placeholder="Selecciona uno" interface="popover" [(ngModel)]="usuario" (ionChange)="cambiousuario()">
      <ion-select-option *ngFor="let  user of proveedores" value="{{user.id}}">{{user.Nombre}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor="let producto of productos">
    <div>
      <app-card-sin-alistar (newCarga)=cambiousuarioData($event) [id_proveedor]=usuario [producto]=producto></app-card-sin-alistar>
    </div>
  </div>
</ion-content>