<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [disabled]="!habilitado" defaultHref="/{{this.strDefHref}}"></ion-back-button>
    </ion-buttons>
    <ion-title>DESPACHO</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label>PEDIDOS</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card mode="ios"><ion-button *ngIf="user!=null" (click)="cambiar()" style="margin-left: 10%; margin-right: 10%;margin-bottom: 1%;margin-top: 1%;" shape="round" color="danger"expand="block">Cambiar usuario ( {{user.nombre}} )</ion-button>
      <!-- Estado Listo -->
      <ion-text color="primary" class="ion-text-center">
        <h1>Pedidos Listos</h1>
      </ion-text>
      <ion-list *ngFor="let idPed of pedInfoProv">
        <ion-item-sliding *ngIf="idPed.estado ==1">
          <ion-item>
            <ion-col size="6" class="ion-align-self-start">
              <ion-label>PED : {{ idPed.compra_id }}</ion-label>
              <ion-label>{{ idPed.inicio }}-{{idPed.fin}}</ion-label>
            </ion-col>
            <ion-col size="3"></ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <ion-label style="color: blue;" *ngIf="idPed.estado ==1">Listo</ion-label>
            </ion-col>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="cambiarEstado(idPed.compra_id,2)" >Aprovar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      
      <!-- Estado Aprovados -->
      <ion-text color="primary" class="ion-text-center">
        <h1>Pedidos Aprovados</h1>
      </ion-text>
      <ion-list *ngFor="let idPed of pedInfoProv">
        <ion-item-sliding *ngIf="idPed.estado ==2">
          <ion-item>
            <ion-col size="6" class="ion-align-self-start">
              <ion-label>PED : {{ idPed.compra_id }}</ion-label>
              <ion-label>{{ idPed.inicio }}-{{idPed.fin}}</ion-label>
            </ion-col>
            <ion-col size="3"></ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <ion-label style="color: orange;" *ngIf="idPed.estado ==2">Aprovado</ion-label>
            </ion-col>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="cambiarEstado(idPed.compra_id,3)">Bloquearr</ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option (click)="cambiarEstado(idPed.compra_id,1)">Des-Aprovar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <!-- Estado Bloqueado -->
      <ion-text color="primary" class="ion-text-center">
        <h1>Pedidos Bloqueado</h1>
      </ion-text>
      <ion-list *ngFor="let idPed of pedInfoProv">
        <ion-item-sliding *ngIf="idPed.estado ==3">
          <ion-item>
            <ion-col size="6" class="ion-align-self-start">
              <ion-label>PED : {{ idPed.compra_id }}</ion-label>
              <ion-label>{{ idPed.inicio }}-{{idPed.fin}}</ion-label>
            </ion-col>
            <ion-col size="3"></ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <ion-label style="color: red;" *ngIf="idPed.estado ==3">Bloqueado</ion-label>
            </ion-col>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

    </ion-card>
  </ion-content>
  <!-- <app-c-proveedor nvPrv="{{this.pNvlPriv}}"></app-c-proveedor> -->
</ion-content>