<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [disabled]="!habilitado" defaultHref="/{{this.strDefHref}}"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE DE PEDIDOS</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label>PEDIDOS</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card mode="ios">
      <ion-button *ngIf="user!=null" (click)="cambiar()" style="margin-left: 10%; margin-right: 10%;margin-bottom: 1%;margin-top: 1%;" shape="round" color="danger"
    expand="block">Cambiar usuario ( {{user.nombre}} )</ion-button>
      <ion-list *ngFor="let idPed of pedInfoProv">
        <ion-item-sliding>

          <ion-item>
            <ion-col size="6" class="ion-align-self-start">
              <ion-label>PED{{ idPed.id }}</ion-label>
              <ion-label>{{ idPed.inicio }}-{{idPed.fin}}</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-align-self-start">
              <ion-label>{{ idPed.nombre }}</ion-label>
              <ion-label></ion-label>
              <ion-label style="color: blue;" *ngIf="idPed.estadaPedido ==3">Entregado</ion-label>
              <ion-label style="color: orange;" *ngIf="idPed.estadaPedido ==2">En Proceso</ion-label>
              <ion-label style="color: red;" *ngIf="idPed.estadaPedido ==1">Sin Alistar</ion-label>
            </ion-col>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="onClickPed(idPed.id)">Alistar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-card>
  </ion-content>
  <!-- <app-c-proveedor nvPrv="{{this.pNvlPriv}}"></app-c-proveedor> -->
</ion-content>