<ion-item-sliding>
  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="rechazar()">Rechazar</ion-item-option>
  </ion-item-options>


    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2 style="color: green;">
          {{ producto.nombre_es }}
        </h2>
      </ion-label>
    </ion-item>

  <ion-item-options side="end">
    <ion-item-option (click)="recibir(producto.id)">Recibir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>